.swiper-container {
  width: 100%;
  height: 300px;
  background: black;
}

@media (max-width: 600px) {
  .swiper-container {
    width: 100%;
    height: 100px;
    background: black;
  }

  .swiper-slide {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.swiper-slide {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
